body {
    background-image: url("https://media.istockphoto.com/photos/technology-computer-and-internet-cyber-security-and-anti-virus-picture-id1159141285?b=1&k=20&m=1159141285&s=170667a&w=0&h=c7NZC8zOyrruLFvLV8rVcv7ENtKfY5w0BfNPMXl6OcA=");
    background-size:cover;
    background-position:20% 20%;
}
