body{
    font-family: 'Times New Roman', Times, serif;
    background-image:url("/Image/details.jpg");
    background-size:cover;
    
}
 h4{
     font-weight:1000;
 }
 h1{
     letter-spacing:2px;
     font-family:al;
 }