@page
@model RegisterModel

@if(User.IsInRole(Online_Shop.WC.AdminRole))
            {
              <h1>Register An Admin Account</h1>

}
else
            {
                @*<h1>Register</h1>*@
            }
@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNo"></label>
                <input asp-for="Input.PhoneNo" class="form-control" />
                <span asp-validation-for="Input.PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Online_Shop.WC.AdminRole))
            {

                <button type="submit" class="btn btn-warning">Register Admin User</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Register</button>

            }

        </form>
    </div>
    
</div>
*@
<!-- Section: Design Block -->
<section class="bg-dark">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(grey,#303030);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(grey, #303030);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Create New Account <br />
          
        </h1>
     
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
              <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                      <div class="col-md-6 mb-4">
                          <div class="form-outline">
                              <label asp-for="Input.FullName"></label>
                              <input asp-for="Input.FullName" class="form-control" />
                              <span asp-validation-for="Input.FullName" class="text-danger"></span>
                          </div>
                      </div>
                      <div class="col-md-6 mb-4">
                          <div class="form-outline">
                              <label asp-for="Input.PhoneNo"></label>
                              <input asp-for="Input.PhoneNo" class="form-control" />
                              <span asp-validation-for="Input.PhoneNo" class="text-danger"></span>

                          </div>
                      </div>
                      <div class="form-outline mb-4">

                          <label asp-for="Input.Address"></label>
                          <input asp-for="Input.Address" class="form-control" />
                          <span asp-validation-for="Input.Address" class="text-danger"></span>
                      </div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                          <div class="form-group">
                              <label asp-for="Input.Email"></label>
                              <input asp-for="Input.Email" class="form-control" />
                              <span asp-validation-for="Input.Email" class="text-danger"></span>
                          </div>
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                          <label asp-for="Input.Password"></label>
                          <input asp-for="Input.Password" class="form-control" />
                          <span asp-validation-for="Input.Password" class="text-danger"></span>
                      </div>
                      <div class="form-outline mb-4">
                          <label asp-for="Input.ConfirmPassword"></label>
                          <input asp-for="Input.ConfirmPassword" class="form-control" />
                          <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                      </div>
                      <div style="text-align:center" class="form-group">
                          @if (User.IsInRole(Online_Shop.WC.AdminRole))
                          {

                              <button type="submit" class="btn btn-warning">Register Admin User</button>
                          }
                          else
                          {
                              <button type="submit" class="btn btn-primary">Register</button>

                          }
                          </div>

</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
